.btn {
  padding: rem(8) rem(16);

  border-radius: 5px;

  white-space: nowrap;

  cursor: pointer;

  transition: background $defaultTransition;

  &-green {
    background: $color-green;

    &:hover {
      background: $color-green-darker;
    }
  }

  &-red {
    background: $color-red;

    &:hover {
      background: $color-red-darker;
    }
  }

  &-purple {
    background: $color-purple;
    color: $color-white;

    &:hover {
      background: $color-purple-darker;
    }
  }
}
