// fonts
$ff-poppins: 'Poppins', sans-serif;

// colors
$color-white: #fff;
$color-main: #151515;
$color-grey: #f2f2f2;
$color-grey-darker: #cdcdcd;

$color-green: #92c064;
$color-green-darker: #84ad5a;
$color-red: #e74d3d;
$color-red-darker: #cd4637;
$color-purple: #a87df5;
$color-purple-darker: #8e49e9;

$color-shadow: rgba(0, 0, 0, 0.1);

// transitions
$defaultTransition: 0.3s ease;
