// display
%display_flex {
  display: flex;
}

%display_inline_flex {
  display: inline-flex;
}

%display_grid {
  display: grid;
}

// font-sizes
%h1 {
  font-size: rem(26);
}

%h2 {
  font-size: rem(22);
}

%h3 {
  font-size: rem(18);
}

%defaultFontSize {
  font-size: 16px;
}
